[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=4
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][118]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][1][Applets][118][Configuration]
PreloadWeight=42

[Containments][1][Applets][118][Configuration][Appearance]
autoFontAndSize=false
dateFormat=isoDate
fontFamily=Noto Sans
fontSize=14
fontStyleName=Regular
showSeconds=true
use24hFormat=0

[Containments][1][Applets][118][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][119]
immutability=1
plugin=org.kde.plasma.minimizeall

[Containments][1][Applets][119][Configuration]
PreloadWeight=42

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][4][Configuration]
PreloadWeight=100

[Containments][1][Applets][4][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][4][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.kate.desktop,org.kde.discover.desktop
favoritesPortedToKAstats=true

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
PreloadWeight=52
SystrayContainmentId=6

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=42

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:com.brave.Browser.desktop,applications:org.kde.dolphin.desktop,applications:discord.desktop,applications:com.spotify.Client.desktop,applications:kitty.desktop,applications:steam.desktop,applications:net.lutris.Lutris.desktop,applications:io.github.shiftey.Desktop.desktop,applications:code-oss.desktop

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=42

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=4;57;5;118;119
autoDecreaseIconSize=false
iconMargin=0
iconSize=38
lengthExtMargin=2
panelPosition=10
panelSize=100
shadowOpacity=35
shadowSize=45
shadowsUpgraded=true
showGlow=false
splitterPosition=3
splitterPosition2=4
tasksUpgraded=true
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][6]
PreloadWeight=42
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=4
plugin=org.kde.plasma.private.systemtray
popupHeight=432
popupWidth=432
wallpaperplugin=org.kde.image

[Containments][6][Applets][10]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][6][Applets][10][Configuration]
PreloadWeight=42

[Containments][6][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][6][Applets][11][Configuration]
PreloadWeight=42

[Containments][6][Applets][111]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][6][Applets][111][Configuration]
PreloadWeight=42

[Containments][6][Applets][112]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][6][Applets][112][Configuration]
PreloadWeight=42

[Containments][6][Applets][113]
immutability=1
plugin=org.kde.kscreen

[Containments][6][Applets][113][Configuration]
PreloadWeight=42

[Containments][6][Applets][114]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][6][Applets][114][Configuration]
PreloadWeight=42

[Containments][6][Applets][115]
immutability=1
plugin=org.kde.plasma.vault

[Containments][6][Applets][115][Configuration]
PreloadWeight=42

[Containments][6][Applets][117]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][6][Applets][117][Configuration]
PreloadWeight=42

[Containments][6][Applets][13]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][6][Applets][13][Configuration]
PreloadWeight=42

[Containments][6][Applets][14]
immutability=1
plugin=org.kde.plasma.battery

[Containments][6][Applets][14][Configuration]
PreloadWeight=42

[Containments][6][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][6][Applets][16][Configuration]
PreloadWeight=42

[Containments][6][Applets][17]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][6][Applets][17][Configuration]
PreloadWeight=42

[Containments][6][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][6][Applets][9][Configuration]
PreloadWeight=47

[Containments][6][Applets][9][Configuration][General]
migrated=true

[Containments][6][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.plasma.clipboard,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.plasma.manage-inputmethod,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.kscreen,org.kde.plasma.keyboardlayout,org.kde.plasma.vault
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.clipboard,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.plasma.manage-inputmethod,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.kscreen,org.kde.plasma.keyboardlayout,org.kde.plasma.vault

[LayoutSettings]
activities=
backgroundStyle=0
color=lightskyblue
customBackground=
customTextColor=
globalLaunchers=
icon=
lastUsedActivity=7924713b-a9e9-4633-b979-ce9daa566093
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
