* {
  font-family: "FiraCode Nerd";
  font-size: 14px;
}

window#waybar {
  background: #161616;
  border-radius: 0px;
  min-height: 0;
}

/* Groups */

.modules-left,
.modules-center,
.modules-right {
  padding: 0px 10px;
}

/* Label Customization */

label,
button {
  padding: 0 4px;
}

button label {
  border: none;
  background: transparent;
  padding: 0;
}

/* Module Customization */

#workspaces {
  background: transparent;
}

#workspaces button {
  margin: 0;
  padding: 2px 2px;
}

#workspaces button.active {
  color: #ee5396;
}

#pulseaudio.output {
  color: #ff2160;
}

#disk {
  color: #ff21a6;
}

#memory {
  color: #de21ff;
}

#cpu {
  color: #9621ff;
}

#temperature {
  color: #7221ff;
}

#battery {
  color: #3321ff;
}

#battery.warning {
  color: #f2ee04;
}

#battery.critical {
  color: #f23004;
}
