@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css");

:root {
  --accentcolor: 238, 83, 150;
  --accentcolor2: 238, 83, 150;
  --linkcolor: 61, 219, 217;
  --mentioncolor: 238, 83, 150;
  --textbrightest: 255, 255, 255;
  --textbrighter: 242, 244, 248;
  --textbright: 185, 185, 185;
  --textdark: 140, 140, 140;
  --textdarker: 115, 115, 115;
  --textdarkest: 80, 80, 80;
  --backgroundaccent: 38, 38, 38;
  --backgroundprimary: 22, 22, 22;
  --backgroundsecondary: 15, 15, 15;
  --backgroundsecondaryalt: 15, 15, 15;
  --backgroundtertiary: 15, 15, 15;
  --backgroundfloating: 82, 82, 82;
  --settingsicons: 1;
}

/* Any custom CSS below here */
